.Buttons {
    display: flex;
}

.Buttons .btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;

    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.Buttons {
    .add {
        background: #37b24d;
        &:hover {
            background: #40c057;
        }
    }
    .remove {
        background: #f03e3e;
        &:hover {
            background: #fa5252;
        }
    }

}
